.easy-tile {
  width: 48px;
  height: 48px;
  font-size: 1.5rem;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  outline: none;
  cursor: pointer;
  text-align: center;
}

.medium-tile {
  width: 32px;
  height: 32px;
  font-size: 1.2rem;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  outline: none;
  cursor: pointer;
  text-align: center;
}

.hard-tile {
  width: 32px;
  height: 32px;
  font-size: 1.2rem;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  outline: none;
  cursor: pointer;
  text-align: center;
}

.cover-tile {
  background: #3F51B5 url("../images/bloque.svg") no-repeat;
  background-size: contain;
}

.uncover-tile {
  background: #fff url("../images/sinbloque.svg") no-repeat;
  border: 1px solid #BDBDBD;
  color: #3F51B5;
}

.cover-flag {
  background: #FF5722 url("../images/bandera.svg") no-repeat center;
}

.color1 {
  background: #F98933 url("../images/mina.svg") no-repeat center;
}

.color2 {
  background: #F96546 url("../images/mina.svg") no-repeat center;
}

.color3 {
  background: #B56788 url("../images/mina.svg") no-repeat center;
}

.color4 {
  background: #A10678 url("../images/mina.svg") no-repeat center;
}

.color5 {
  background: #E54324 url("../images/mina.svg") no-repeat center;
}

.color6 {
  background: #A32130 url("../images/mina.svg") no-repeat center;
}

.color7 {
  background: #B00187 url("../images/mina.svg") no-repeat center;
}

.color8 {
  background: #EEEAAA url("../images/mina.svg") no-repeat center;
}

.color9 {
  background: #AAAFFF url("../images/mina.svg") no-repeat center;
}

.color10 {
  background: #AFACCC url("../images/mina.svg") no-repeat center;
}

.uncover-win {
  background: #29E571 url("../images/estrella.svg") no-repeat center;
}

#containerMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#containerMenu img {
  height: 60px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#btnPlayAgain {
  min-height: 25px;
  min-width: 70px;
  border-width: 0px;
  padding: 15px;
  background: #303F9F;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.3rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.shadowMaterialButton {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.5);
}

.shadowMaterial {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.5);
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

body main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body main section article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #3F51B5;
}

body main section select {
  height: 35px;
  font-size: 1.3rem;
  background-color: #3F51B5;
  border-radius: 5px;
  border-width: 0px;
  outline: none;
  color: #fff;
  text-align-last: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-weight: bold;
  margin: 10px;
}

body main section #board {
  width: auto;
}

body footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #3F51B5;
}

body footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #3F51B5;
  height: 35px;
}

body footer div a {
  font-size: 1rem;
  border-radius: 5px;
  border-width: 0px;
  outline: none;
  color: #fff;
  text-align-last: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-weight: bold;
  margin: 10px;
}
