* {
    font-family: "Lato", sans-serif;
    color: #000000;
}

h1 {
    color: #ffffff;
    text-align: center;
    vertical-align: bottom;
    text-shadow: 0 0 10px #000;
}

h2 {
    color: #000000;
    text-shadow: 0 0 10px #fff;
    font-family: "Merienda", cursive;
}

h1,
h2 {
    font-size: 2.5rem;
}

body {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 2fr;
    grid-template-areas: "header""main""footer";
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    background: linear-gradient(to right, rgba(0, 148, 255, 1), rgba(189, 189, 189, 1));
    width: 100%;
    overflow: hidden;
    font-family: "Merienda", cursive;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background-color: #91cae0;
}

.ejercicio {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #FFFFFF;
    position: sticky;
    top: 50px;
    min-width: 80%;
    min-height: 80vh;
    border: 2px solid black;
}

#server,
#protocol,
#route {
    min-width: 100%;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 300px;
    padding-right: 100px;
}

.resultado {
    font-size: 1.5rem;
    color: #1e90ff;
    font-weight: normal;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    background: linear-gradient(to left, rgba(0, 148, 255, 1), rgba(189, 189, 189, 1));
}